/var/cache/*
/var/log/*
/web/assets/**
/node_modules
/examples/example-http-service/node_modules
/examples/example-monitor/node_modules
/config/local-*.json
/coverage
package-lock.json
.idea
*.iml

# MUST be the last line of this file
!.gitkeep

